body {
    background-color: #e9ecef;
}
.responsive {
    min-width: 500px;
}
#question-card {
    cursor: pointer;  
    -webkit-transition: color, background-color 0.2s ease-in-out;
    -moz-transition: color, background-color 0.2s ease-in-out;
    -o-transition: color, background-color 0.2s ease-in-out;
    transition: color, background-color 0.2s ease-in-out;
}
#wrong-answer {
    color: red;
    display: none;
}

@media only screen and (max-width: 520px) {
    .responsive {
        min-width: 100%;
        padding: 0 1em;
    }
}