body {
    background-color: #e9ecef;
}
#question-card {
    cursor: pointer;
    transition: background 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;    
}
#top-row {
    height: 30%;
}
#wrong-answer {
    color: red;
    display: none;
}